/* Default fixes & overrides */

html,
body {
    padding: 0px;
    margin: 0px;
}


/* Color Theme */

.bg-color-1 {
    background-color: #1e1a17;
}

.font-color-1 {
    color: #1e1a17;
}

.bg-color-2 {
    background-color: #1f1d1e;
}

.font-color-2 {
    color: #1f1d1e;
}

.bg-color-3 {
    background-color: #2f2d2e;
}

.font-color-3 {
    color: #2f2d2e;
}

.bg-color-4 {
    background-color: #e75931;
}

.font-color-4 {
    color: #e75931;
}

.bg-color-5 {
    background-color: #468e5c;
}

.font-color-5 {
    color: #468e5c;
}

.bg-color-6 {
    background-color: #487697;
}

.font-color-6 {
    color: #487697;
}

.bg-color-7 {
    background-color: #e0e0e0;
}

.font-color-7 {
    color: #e0e0e0;
}

.bg-color-8 {
    background-color: #a5151c;
}

.font-color-8 {
    color: #a5151c;
}