/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2017, 11:15:16 AM
    Author     : Stian
*/

html,body{
    font-family:"Verdana",sans-serif;
    font-size:15px;
    line-height:1.5
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    overflow-x:hidden;
}
body{
    font-family: "Montserrat", sans-serif;
    margin:0;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
    display:block;
}
h4,h2{
    padding-left: 6%;
    font-size: 1.5em;
}
section article p {
    padding-left: 6%;
    padding-right: 6%;
}
.footertext{
    font-size: 10px;
}
figcaption{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 25px;
    position: relative;
    font-style: italic;
    font-size: 90%;
    line-height: normal;
    color: #333;
    line-height: 16px;
    padding-left: 5px;

}

.sidenav{
    height:100%;
    width:100px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:visible;
    background: white;
}
.sidenav a{
    display:block;
    padding:4px 2px 4px 16px;
    text-decoration:none;
    color: black;
}
.sidenav a:hover{
    background-color:#ccc
}
.sidenav a *[class*="hover-"]
{
    -webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
    transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s
}
.center{
    text-align:center
}
.small{
    font-size:11px
}
.roundpic img{
    border-radius: 10%;
    width:100%
}
.padding-top{
    padding-top: 3%;
}
.padding-large{
    padding:12px 24px;
}
.image{
    max-width:100%;
    height:auto
}
.hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}
.xlarge{
    font-size:24px;
}
.xxlarge{
    font-size:36px;
}
.white,.hover-white:hover{
    color:#000;
    background-color:#fff;
}
.jumbo{
    font-size:5em;
}

#main {
    margin-left: 120px
}
li.dropnav {
    display: inline-block;
}
.clear{
    clear: both;
}
.dropnav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropnav-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropnav-content a:hover {
    background-color: #f1f1f1
}

.dropnav:hover .dropnav-content{
    display: block;
}
.dropnav{
    position: fixed;
    z-index: 1;
}
li a, .menybtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container{
    padding:0.01em 16px
}
.padding-12{
    padding-top:12px!important;
    padding-bottom:12px!important
}
.padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.padding-32{padding-top:32px!important;
           padding-bottom:32px!important
}
.padding-64{
    padding-top:64px;
    padding-bottom:64px;
}
.ingress{
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
}
.slimimage img{
    width: 100%;
}
.content{
    max-width:980px;
    margin:auto;
}
.text-yellow,.hover-text-yellow:hover{
    color:#d2be0e!important
}
.text-purple,.hover-text-purple:hover{
    color:#9c27b0!important
}
.text-indigo,.hover-text-indigo:hover{
    color:#3f51b5!important
}
.text-gray,.hover-text-gray:hover{
    color:#757575;
}
.text-red,.hover-text-red:hover{
    color:#f44336;
}
.text-light-blue,.hover-text-light-blue:hover{
    color:#4099ff;
}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{
    color:#757575;
}

/* Change the size to fit smaller screens*/
@media screen and (max-width:700px){
    .center{
        width: 100%;
    }
}
@media (max-width:700px){
    .hide-small{
        display:none
    }
}
@media (min-width:990px){
    .hide-large{
        display:none!important
    }
}
@media (max-width:990px) and (min-width:700px){
    .hide-medium{
        display:none!important
    }
}
@media screen and (max-width:990px){
    .sidenav.collapse{
        display:none
    }.main{
        margin-left:0!important;
        margin-right:0!important
    }
}
@media screen and (min-width:990px){
    .sidenav.collapse{
        display:block!important
    }
}
@media screen and (max-width:1260px){
    .content{max-width: 70%;
    }
}
@media screen and (max-width:700px){
    .dropnav-hover .dropnav-content,.sidenav .dropnav-click .dropnav-content,.dropnav-hover .dropnav-content{
        position:relative;
    }
}
@media screen and (max-width:700px){
    .center{
        width: 100%;
    }
    .content{
        max-width: 94%;
    }
}
@media only screen and (max-width: 700px) {
    #main {
        margin-left: 0
    } 
    .medium{
        margin-left:80px;
    }
}
@media screen and (max-width:700px){
    .link{
        padding:0;
        text-decoration:none;
        box-shadow: 0;
        border: none;
        border-radius: 0;
        margin:30px;
        display: table;
    }
}