.active{
    background: linear-gradient(#005C00, #023802, #008700);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: -4px;
}

main{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

header nav{
    text-align: center;
}
nav ul li {
    display: inline;
    margin-left: -4px;
}
nav li:first-child a {
    border-radius: 4px 0 0 4px;
}
nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}
nav ul {
    display: inline;
    background: linear-gradient(#000000, #010101, #111111);
    text-align: center;
    padding: 15px 100px;
    border-radius: 4px 4px 4px 4px;
}
nav ul li a{
    color: rgb(194, 190, 190);

}
a:link, a:visited {
    text-decoration: none;	
    background: linear-gradient(#000000, #010101, #111111);
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}


a:hover, a:active {
    text-decoration: none;
    background: linear-gradient(#005C00, #023802, #008700);
    /*color: linear-gradient(rgb(198, 87, 34), rgb(163, 71, 29));*/	
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
